* {
  clear: both;
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  clear: both;
}
#section-1 {
  border-style: double;
  color: #a4a4a4;
  background-image: url("/imgs/img.jpg");
  background-repeat: no-repeat center/cover;
}

/* HEADER SECTION */
#header {
  position: relative;
  width: 100%;
  height: 50px;
  border-style: solid;
  border-color: #ffff00(107, 107, 95);
  margin-bottom: 15px;
  padding: 10px;
  color: #fff;
}

#header .header-text {
  position: absolute;
  bottom: -5px;
}

#header ul {
  position: absolute;
  left: 70px;
  bottom: -5px;
}

#header li {
  list-style: none;
  display: inline-block;
  margin: 0 10px 0;
}

#header .login {
  font-family: fantasy, Courier, monospace;
  position: absolute;
  left: 94%;
  bottom: 10px;
  font-size: 10px;
  font-family: "Montserrat";
  line-height: 3px;
}

/* ====HEADER SUB-SECTION==== */
/* HEADER LINKS */
.header-link:hover {
  color: #ff0000;
}
/* HEADER LINKS END */

/* HEADER END */

/* MAIN CENTRAL SECTION */
#main {
  position: relative;
  border-style: solid;
  border-color: #ff0000;
  width: 69%;
  left: 19%;
  bottom: 7px;
}

.box-one {
  border-style: double;
  border-color: #ffff00;
  color: #fff;
  text-align: center;
  clear: both;
}
.buildfast {
   {
    font-family: "Merriweather", serif;
    font-size: 50px;
  }
}
.jsapps {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}
.box-two {
  position: relative;
  display: inline-block;
  border-style: double;
  border-color: #ffff00;
  left: 35%;
}

a {
  text-decoration: none;
  color: #f5f5f5;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#main .box-two .link {
  background-color: #f44336;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  width: 300px;
  height: 50px;
}

#main .box-two .link:hover {
  background-color: rgba(199, 45, 45, 0.63);
}
/* MAIN CENTRAL SECTION END */

/* FOOTER */
#footer {
  position: relative;
  border-style: solid;
  border-color: #0000ff;
  background: #333;
  color: #fff;
  padding: 10px;
}

#footer .text-center {
  border-style: double;
  border-color: blueviolet;
  display: inline-block;
  display: block;
  text-align: center;
  font-size: 15px;
}

.technologies {
  position: relative;
  border-style: double;
  border-color: blueviolet;
  text-align: center;
}

#footer li {
  display: inline-block;
  list-style: none;
  padding: 0 40px 0;
}

#footer img {
  background: transparent;
}

 .image {
  width: 50px;
  height: 50px;
}



/* FOOTER END*/
