/* General */

* {
  clear: both;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
}

.button-link {
  color: #f4f4f4;
  background-color: #f44336;
  padding: 14px 25px;
  text-decoration: none;
  border-radius: 20px;
  width: 300px;
  height: 50px;
}

.btn {
  border-radius: 10px;
  background-color: #f44336;
  border-radius: 20px;
  width: 100px;
  height: auto;
}

/* END */

/* ==================================== */

/* NAVBAR  */

#navbar {
  border-style: double;
  border-color: #ffff00;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

#navbar ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex: 1;
  font-size: 14px;
}

#navbar ul li {
  padding: 15px 10px;
  cursor: pointer;
}

#navbar ul li:hover {
  background-color: red;
  color: #f4f4f4;
}

#navbar ul li a {
  color: rebeccapurple;
}

#navbar .navbar {
  display: flex;
  flex-direction: row-reverse;
}

#navbar .registration {
  font-family: fantasy, Courier, monospace;
  padding-top: 8px;
  font-size: 10px;
  line-height: 3px;
  border-style: double;
  border-color: royalblue;
}

#navbar .registration span {
  padding-top: 8px;
  color: red;
}

h1 {
  font-size: 1rem;
  margin: 10px 20px;
}

#navbar div {
  border-style: double;
  border-color: #ff0000;
  display: flex;
  flex-direction: row-reverse;
}

#navbar .fa-accessible-icon {
  font-size: 25px;
}

/* NAVBAR - DEVELOPERS - SECTION */
.dropdown-container {
  display: flex;
  flex-direction: column;
}

#navbar ul li div {
  display: flex;
  flex-direction: column;
}

#navbar  .dropdown-content{
  display: none;
  
}

#navbar .dropdown-container .dropdown-content a {
  display: block;
}

#nav .dropdown-container .show {
  display: block;
}

/* NAVBAR - DEVELOPERS - SECTION END */

/* NAVBAR END */

/* SECTION-1  */

#section-1 {
  height: 350px;
  width: auto;
  border-style: double;
  border-color: #0000ff;
  display: flex;
  flex-direction: column;
  align-content: center;
  background: no-repeat center/cover;
  padding-top: 135px;
  background-image: url("/imgs/ultimate-guide-to-background-images-in-email-690x362.png");
}

#section-1 .box-one {
  border-style: double;
  border-color: #ff0000;
  text-align: center;
}

#section-1 .box-two {
  border-style: double;
  border-color: #008000;
  text-align: center;
}

#section-1 .link {
  display: inline-block;
}

#section-1 .box-one .buildfast {
  font-family: "Indie Flower", cursive;
  font-size: 28px;
}

#section-1 .box-one .jsapps {
  font-family: "Dancing Script", cursive;
  font-size: 48px;
}

#section-1 .box-one .platform {
  font-size: 15px;
  font-family: "Pacifico", cursive;
}

/* SECTION-1 END */

/* ==================================== */

/* SECTION - 1 - FOOTER */

#footer {
  width: auto;
  height: 200px;
  display: flex;
  flex-direction: column;
  border-style: double;
  border-color: #660466e1;
}

#footer span {
  align-self: center;
  margin: 35px 0px;
}

#footer .image {
  width: 50px;
  height: 50px;
}

#footer ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: center;
  font-size: 10px;
}

#footer ul li {
  padding: 40px;
}

.line-pages {
  max-width: 1170px;
  width: 100%;
  display: block;
  margin: 40px auto 30px;
  border-top: 1px solid #ffae00;
}

/* SECTION - 1 - FOOTER END */

/* SECTION - 2 */

#section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#section-2 span {
  align-self: center;
  padding-bottom: 20px;
}

#section-2 .after::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: red;
  margin: 2px auto 0;
  text-align: center;
  display: block;
}

#section-2 .fas {
  font-size: 30px;
}

#section-2 #container {
  border-style: dashed;
  border-color: #ffa500;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#section-2 #container .a {
  flex: 1;
  border-style: double;
  border-color: turquoise;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#section-2 #container .description {
  align-self: center;
}

#section-2 #container .b {
  flex: 1;
  border-style: double;
  border-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#section-2 #container .c {
  flex: 1;
  border-style: double;
  border-color: #a200ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#section-2 #container .deploy {
  flex: 1;
  align-self: center;
}
