* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}

#main-header {
  background: #2ddf5c;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid red;
}

#main-header div {
  border: 2px solid blue;
  flex: 1;
}

#main-header .logo {
  color: black;
  font-weight: bold;
  font-size: 30px;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
}

#main-header .navigation--bar {
  flex: 1;
}

.navigation--bar__list {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  list-style: none;
  height: 100%;
  width: 100%;
  border: 2px solid yellow;
}

.navigation--bar__list__item,
.a,
.b,
.c,
.d {
  flex: 1;
  margin-left: auto;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.container {
  position: absolute;
  list-style: none;
  display: flex;
  top: 0;
  left: 20px;
}

.container--dropdown {
  display: none;
  position: absolute;
  top: 40px;
  left: 10px;
  z-index: 1;
  width: 100px;
  height: 115px;
  text-align: center;
}

.a:hover .container--dropdown:hover {
  display: block;
  background: white;
  color:green;
}
